body{
    margin:0px;
    padding:0px;
}
.showuser, .showforeman 
{
    width: 100%;
    height: 300px;
    display: flex;
    align-content: center;
}
.usertableview, .foremantableview 
{
    flex: 6;
    margin:40px;
}

.usersubmitview, .foremansubmitview 
{
    flex: 1;
    margin-left:10px;
    margin-right: 10px;
    margin-top: 4px;
}

table,th,td 
{
    font-size: larger;
    /* padding: 5px; */
    border-collapse: collapse;
}
table
{
    width: 100%;
    border: 2px solid darkblue;
}
.btn_done {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input.checkbox
{
    height: 3rem;
}
/* .foreman_nav, .user_nav
{
    background-color: darkblue;
    color: white;
    font-size: 20px;
    margin: 0px;
    margin-top: 30px;
    padding: 5px;
}
.layout
{
    margin:1rem 0rem;
    display: flex;
    margin-left: 4rem;
} */
/* .assign_nav{
    display: flex;
    flex-direction: column;
} */
.foreman_nav, .user_nav
{
    background-color: darkblue;
    color: white;
    font-size: 20px;
    /* margin: 10px; */
    padding: 5px;
}
.layout
{
    margin-top:4rem;
    margin-bottom:10px;
}
#assign_user
{
    /* margin-top:4rem; */
    margin-left:4.5rem;
    /* margin-bottom:10px; */
    padding:10px;
    background-color:#bbbb77;
    text-decoration:none;
    border-radius:4px;
    color:white;
    font-weight: bold;
}
#assign_user:hover
{
    background-color: green;
}