/* Main page */
*              
{
    margin:0;
    padding:0;
}
.head
{
    height:10rem;
    width:100%;
    background-color:#1a1aff;
    color:white;
}
h1
{
    margin-left:85%;
    margin-bottom:5px;

}
h2
{
    display:flex;
    flex-direction:column;
}
h3
{
    font-size:40px; 
    margin-bottom: 20px;
}
.nav
{
    height:3rem;
    width:100%;
    background-color:#99ccff;
}
.main
{
    display:flex;
    flex-direction:row;
    background-color:lightgrey;
    height: 40rem;
}
.list
{
    flex:0.7;
    float:left;
    /* background-color:#713800; */
    background-color: whitesmoke;
    color:black;
    font-style: bold;
    margin-right:5px;
    margin-top: 8px;
    padding:5px;
    font-size:90%;
    height:25rem;
    width: 30%;
    border-radius: 5px;
}
a
{
    margin:10px;
    padding:10px;
    color:black;
    text-decoration:none;
    font-family: "Times New Roman", Times, serif;
    font-size:90%;
}
a:hover
{
    background-color:#cc6600;
    width:fit-content;
    border-radius:5px;
}
a:active 
{
    color:blue;
}
.view
{
    flex:4;
    float:right;
    margin:0px;
    padding:0px;
    font-size:90%;
}

/* department */
.dpt_creation
{
margin:3rem;
padding: 30px;
border-radius: 5px;
background-color: #e7e4e4;
width: 50%;
height: auto;

}
#dpt
{
    margin:10px;
    width:50%;
    height: 4%;
    font-family: monospace;
}
#dpt_smt
{
    padding:5px;
    background-color: #1a1aff;
    color:white;
    border:0px;
    border-radius: 5px;
}
.phpdepartment
{
    color:green;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* user */
.user_creation
{
margin:3rem;
padding: 30px;
border-radius: 5px;
background-color: #e7e4e4;
width: 50%;
height: auto;
float: left;

}

/* Project Creation */
.project_creation
{
margin:3rem;
padding: 30px;
border-radius: 5px;
background-color: #b37700;
width: 30%;
height: auto;

}
#formp
{
    margin-left: 2rem;
}
#project
{
    margin:10px;
    width:70%;
    height: 4%;
    font-family: monospace;
}
#project_file
{
    margin:10px;
    width:70%;
    height: 4%;
    font-size: 15px;
    font-family: monospace;
}
#project_smt
{
    padding:5px;
    background-color: #1a1aff;
    color:white;
    border:0px;
    border-radius: 5px;
    margin-left: 10px;
}
.phpproject
{
    color:green;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.frame
{
    height:100%;
    width: 100%;
    margin: 0px;
    padding: 10px;
}