
/* top */
.top_nav
{
    /* background-color: white; */
    height: 3rem;
    width: 100%;
    margin-top: 10px;
    border-radius: 3px;
    justify-content: center;
}
.dashboard
{
    margin: 10px;
    margin-top: 10px;
    padding: 0px;
    justify-content: center;
    color: darkblue;
    margin-left: 3rem;
    float: left;
}
h2
{
    font-size: 20px;
}
.head {
    background-color: #33bbff;
    padding: 1px;
    color: White;
    padding-left: 30px;
}
.body
{
    margin: 0px;
    padding: 0px;
}
.foreman_name, .admin_name {
    float: right;
    margin-right: 5rem;
    margin-top: 0px;
    /* padding: 10px; */
    text-align: center;
    justify-content: center;
    color: #000080;
}
.top_nav_bar
{
    background-color: white;
    color: black;
    float: right;
    margin-right: 3rem;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    
}
/* .top_nav_bar {
    margin-left: 3rem;
    padding: 10px;
    color: black;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    
    
} */
.top_nav_bar:hover
{
 background-color: #ffd966;   
}
/* closing top; */
.mainhead
{
    float: left;
    margin-left: 30px;
    color:#000080;
    font-weight: bold;
    font-size: 15px;
    margin-top: 2px;
}
/* #project_name
{
    border: 4px solid darkseagreen;
    margin-bottom: 5px;
    border-radius: 4px;
    padding: 5px;
} */
h3 {
    margin: 0px;
    padding: 0px;
    /* float:none; */
}
#project_name {
    font-size: 20px;
    margin-left: 30px;
}
.p_n,p {
    font-size: 15px;
    margin-left: 25px;
    padding: 5px;
    /* margin: 0px;
    padding: 0px;
    float:none; */
}