body
        {
            margin:0px;
            padding:0px;
        }
        tr,th
        {
            text-align:left;
            background-color:grey;
            color:White;
            border-radius:5px;
            height:5px;
            margin-bottom:20px;
        }
        table
        {
            width:90%;
            /* margin-left:20%; */
            /* margin-bottom:2rem; */
            margin-top:5px;
            align-items:center;
            text-align:center;
            height:5px;
            box-shadow: inset;
        }
        h2{
            /* margin-left:30px; */
            margin-top:15px;
            font-size:20px;
            margin-bottom:10px;
        }
        img:hover
        {
            background-color:whitesmoke;
            font-size:max-content;
            padding:2px;
            border-radius:5px;
            width:Max-content;
        }
        h3
        {
            font-size:20px;
            padding:5px;
            background-color:#003399;
            color:white;
            margin-top:0px;
        }
        h4
        {
            text-align:center;
            margin-top:15px;
            font-size:20px;
            margin-bottom:10px;
        }
        .outer
        {
            margin:0px;
            padding:0px;
            /* background-color:lightgrey; */
            background-color:white;
            /* width:100%; */
            border-radius:5px;
        }
        a{
            text-decoration:none;
            color:white;
            float:right;
            style-type:inline;
            
        }
        
        img
        {
            height:20px;
            width:20px;
            margin-left:20px;
            
        }
        .top_nav
        {
            margin:0px;
            margin-bottom:35px;
            padding:10px;
            color:black;
            background-color:white;
            border-radius:5px;
            text-decoration:none;
            font-family: "Times New Roman", Times, serif;
            font-size:90%;
            }
        .top_nav_bar
        {
            margin-left:3rem;
            padding:10px;
            color:black;
            background-color:white;
            border-radius:5px;
            text-decoration:none;
            font-family: "Times New Roman", Times, serif;
            font-size:20px;
            
        }
        .top_nav_bar:hover
            {
                background-color: #ffd966;
                width:fit-content;
                border-radius:5px;
            }
        .nav
            {
               margin-bottom:3rem; 
            }
        .nav_bar
            {
                /* float: left; */
                margin-left:3rem;
                padding:10px;
                color:black;
                background-color:white;
                border-radius:5px;
                text-decoration:none;
                font-family: "Times New Roman", Times, serif;
                font-size:20px;
                float:left;
            }
        .nav_bar:hover
            {
                background-color: #ffd966;
                width:fit-content;
                border-radius:5px;
            }
        .head
        {
            background-color:#33bbff;
            padding:1px;
            color:White;
            padding-left:30px;
        }
        .footer
        {
            background-color:#adad85;
            color:white;
            margin-top:50px;
            padding:20px;
        }
        .foreman_name,.admin_name
        {
            float:right;
            margin-right:5rem;
            margin-top:0px;
            /* padding:10px; */
            text-align:center;
            justify-content:center;
            color: #000080;
        }
        .dashboard
        {
            float:left;
            margin:10px;
            margin-left:30px;
            color: #000080;
        }
        #logout
        {
            margin:0px;
            margin-top:65px;
            padding:10px;

        }
        .userlist
        {
            text-align:center;
            /* background-color:#003399;
            color:white; */
        }
        #adduser
        {
            background-color: #003399;
            color:white;
        }
        #adduser:hover
        {
            background-color: lightgrey;
            color:black;
        }
        #project_creation
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: grey;
            padding:1rem;
            color:black;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size:larger;
        }
        .dpt_creation
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: grey;
            padding:1rem 3rem 3rem 3rem;
            padding-bottom: 11rem;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size:larger;
            border-radius:3px;
        }
        .user_creation
        {
            background-color: grey;
            padding:1rem;
            color:black;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size:larger;
        }
        /* span{
            display:flex;
            padding: 1px;
            justify-content: space-between;
            justify-items: space-between;
        } */
        .p_create
        {
            width:30rem;
            padding: 4px;
        }
        .d_create
        {
            padding: 10px;
            width: 100%;
            
        }
        .input_user
        {
            border-radius: 5px;
            border-color: white;
            width:40rem;
            padding:10px;
        }
        #submit_project, #submit_department, #submit_user
        {
            margin-top:10px;
            width:30%;
            background-color: blue;
            color:white;
            border:0px;
            padding: 10px;
            border-radius: 5px;
            float:right;
            height: 40px;
            margin-left: 70%;
        }
        .padd
        {
            padding:10px;
            margin:10px;
            margin-bottom:0px;
        }
        .phpdepartment
        {
            color:black;
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 20px;
        }
        .phpproject
        {
            text-align:center;
            padding: 10px;
            font-size:15px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .adduser
        {
         background-color:darkblue;
        }
        h6
        {
            text-align: left;
            margin: 2rem;
        }