*{
    margin: 0px;
    padding: 0px; 
    
}
body{
    /* background-color: #99cc00; */
}
.outer{
    /* background-color: #99cc00; */
    padding: 20px;
    justify-content: center;
    margin-top: 15%;
    text-align: center;
    border-radius: 10px;
    height: auto;
    width: 60%;
}
.userlogin {
  float: left;
  width: 40%;
  height: auto;
  margin-left:6rem;
}
#selection
{
    font-size: 20px;
}
#submit_login
{
    background-color: blue;
    color: whitesmoke;
    width:85%;
    margin-top: 2rem;
}
.usersignup {
  margin-top: 20px;
  float: left;
  margin-bottom: 7rem;
  width: 50%;
  text-align: center;
  height: auto;
  
}
h2{
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}
h3
{
    color: rgb(255, 255, 255);
    font-size: 15px;
}
h4{
    font-size: 15px;
    margin-bottom: 40px;
}
h5{
    margin-top:10px; 
    text-align: center;
    font-size: 15px;
    color: rgb(255, 255, 255);
}
p{
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-bottom: 40px;
}
form{
    
    
    font-size: 30px;
}
input{
    width:100%;
    border-radius:5px;
    border:0px;
    height:50px;
    font-size:20px;
    text-align:center;
    margin-bottom:10px;
    margin-top:10px;
}
button{
    color:white;
    background-color: blue;
    border-radius:10px;
    padding: 2%;
    width: 30%;
    margin-bottom: 10px;
    border: 0px;  
}
a{
    background-color: blue;
    color: white;
    text-decoration: none;
    font-size:larger;
}
img{
    height: 9rem;
}
.login-unsucessfull{
    color:red;
     margin-top:30px; 
     text-align: center;
    }


